{% load static %}
<div id="side-bar" class="side-bar header-two">
    <button class="close-icon-menu" aria-label="Close Menu"><i class="fa-sharp fa-thin fa-xmark"></i></button>
    <!-- mobile menu area start -->
    <div class="mobile-menu-main">
        <nav class="nav-main mainmenu-nav mt--30">
            <ul class="mainmenu metismenu" id="mobile-menu-active">
                <li>
                    <a href="{% url 'home' %}" class="main">Home</a>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Pages</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="{% url 'about' %}">About</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'affiliate' %}">Affiliate</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'sign-up' %}">Sign Up</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'whois' %}">Whois</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'partner' %}">Partner</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'knowledgebase' %}">Knowledgebase</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'knowledgebase-listing' %}">Category & Tag Listing</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'support' %}">Support</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'pricing' %}">Pricing</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'pricing-two' %}l">Pricing Package</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'pricing-three' %}">Pricing Comparison</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'sign-in' %}">Sign In</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'business-mail' %}">Business Mail</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'knowledgebase' %}">Knowledgebase Home</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'blog-details' %}">Blog Details</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'domain-checker' %}">Domain Checker</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'ssl-certificate' %}">SSL Certificates</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'data-center' %}">Data Centers</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'technology' %}">Technology</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'contact' %}">Contact</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'domain-transfer' %}">Domain Transfer</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'payment-method' %}">Payment Method</a></li>
                    </ul>
                </li>
                <li class="has-droupdown">
                    <a href="#" class="main">Domain</a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="{% url 'domain-checker' %}">Domain Checker</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'domain-transfer' %}">Domain Transfer</a></li>
                        <li><a class="mobile-menu-link" href="{% url 'domain-registration' %}">Domain Registration</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'about' %}" class="main">Hakkımızda</a>
                </li>
            </ul>
        </nav>

        <ul class="social-area-one pl--20 mt--100">
            <li><a href="https://www.linkedin.com" aria-label="social-link" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://www.x.com" aria-label="social-link" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com" aria-label="social-link" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://www.facebook.com" aria-label="social-link" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
        </ul>
    </div>
    <!-- mobile menu area end -->
</div>



