{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="QyberHost sign in page.">
    <meta name="keywords" content="QyberHost login, client login">
    <link rel="icon" href="{% static 'auth/images/favicon.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'auth/images/favicon.png' %}" type="image/x-icon">
    <title>QyberHost - Sign In</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'auth/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'auth/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'auth/css/login.css' %}">
    <style>
        .login-with-btns a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }
        .login-with-btns a.disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    </style>
</head>
<body>
    <div class="loader-wrapper" id="loader-wrapper">
        <div class="loader"></div>
    </div>
    <section class="page-section login-page">
        <div class="full-width-screen">
            <div class="container-fluid p-0">
                <div class="particles-bg" id="particles-js">
                    <div class="content-detail">
                        <form class="login-form" method="post">
                            {% csrf_token %}
                            <div class="imgcontainer">
                                <img src="{% static 'auth/images/logo-2.png' %}" alt="QyberHost" class="avatar">
                            </div>
                            <div class="input-control">
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags|default:'info' }} text-start">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger text-start">
                                        {% for error in form.non_field_errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <input type="text" placeholder="Kullanici Adi" name="username" value="{{ form.username.value|default:'' }}" required>
                                {% if form.username.errors %}<small class="text-danger d-block text-start">{{ form.username.errors|join:', ' }}</small>{% endif %}
                                <span class="password-field-show">
                                    <input type="password" placeholder="Sifre" name="password" class="password-field" value="" required>
                                    <span data-toggle=".password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                </span>
                                {% if form.password.errors %}<small class="text-danger d-block text-start">{{ form.password.errors|join:', ' }}</small>{% endif %}
                                <label class="label-container">Beni hatirla
                                    <input type="checkbox" name="remember_me" {% if form.remember_me.value %}checked{% endif %}>
                                    <span class="checkmark"></span>
                                </label>
                                <span class="psw"><a href="{% url 'forgot-password' %}" class="forgot-btn">Sifremi unuttum</a></span>
                                <div class="login-btns">
                                    <button type="submit">Giris Yap</button>
                                </div>
                                <div class="division-lines">
                                    <p>veya SSO ile devam edin</p>
                                </div>
                                <div class="login-with-btns">
                                    <a href="{% url 'start-social-login' provider='google' %}" class="google{% if not sso_state.google %} disabled{% endif %}" {% if not sso_state.google %}aria-disabled="true"{% endif %}><i class="fab fa-google"></i></a>
                                    <a href="{% url 'start-social-login' provider='facebook' %}" class="facebook{% if not sso_state.facebook %} disabled{% endif %}" {% if not sso_state.facebook %}aria-disabled="true"{% endif %}><i class="fab fa-facebook-f"></i></a>
                                    <a href="{% url 'start-social-login' provider='twitter' %}" class="twitter{% if not sso_state.twitter %} disabled{% endif %}" {% if not sso_state.twitter %}aria-disabled="true"{% endif %}><i class="fab fa-twitter"></i></a>
                                    <a href="{% url 'start-social-login' provider='linkedin' %}" class="linkedin{% if not sso_state.linkedin %} disabled{% endif %}" {% if not sso_state.linkedin %}aria-disabled="true"{% endif %}><i class="fab fa-linkedin-in"></i></a>
                                    <span class="already-acc">Hesabin yok mu? <a href="{% url 'sign-up' %}" class="signup-btn">Kayit Ol</a></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'auth/js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'auth/js/particles.min.js' %}"></script>
    <script src="{% static 'auth/js/app.js' %}"></script>
    <script src="{% static 'auth/js/script.js' %}"></script>
</body>
</html>
